{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template book-list.html</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Template book-list.html</h1>
    <h2>Let's show the data from the DB</h2>
    <p>Here using url -> datos_con_listview</p>

    {% block content %}
        <ul>
          {% for book in object_list %}
          <li><strong>ID:</strong> {{ book.id }}</li>
          <li><strong>Name:</strong> {{ book.name }}</li>
          <li><strong>Author:</strong> {{ book.author_name }}</li>
          <li>----------------------------</li>
          {% endfor %}
        </ul>
    {% endblock %}

  </body>
</html>
